nav{
    background-color: #1E6BBB;
    padding:0px 10px 0px 10px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    font-size: 16px;
    text-decoration: none;
    padding: 5px 10px;
}

/* landing page*/
.hero{
    background-color: #F5F8FC;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #1F2937;
    padding: 0 20px;
    z-index: 1;
    position: relative;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p{
    font-size: 18px;
    margin-bottom: 20px;
}




